<div class="modal-overlay closed" id="modal-overlay">
  <div class="modal closed" id="modal">
    <div class="field-container">
      <input type="text" name="title" class="input-custom" id="title-input" placeholder="Title" />
    </div>
    <div class="field-container">
      <textarea class="input-custom" name="description" id="description-textarea" cols="30" rows="10"
        placeholder="Description"></textarea>
    </div>
    <div class="field-container">
      <a class="save-button" id="save-button">
        <i class="fas fa-save"></i>
      </a>
      <a class="close-button" id="close-button">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>