<html>

<%- include('include/_head') %>

    <body>
        <div class="container">
            <%- include('include/_card') %>
            <%- include('include/_menu') %>
            <%- include('include/_form') %>
        </div>
    </body>

</html>